.container {
  max-width: 100%;
  max-height: 100%;
  background-color: #f5f8fb;
  display: flex;
  flex-direction: row;
}

.nav-part {
  width: 30%;
}

.content-part {
  width: 70%;
  padding: 1rem;
}

.heading-input {
  width: 100%;
  padding: 1rem;
}

.request,
.input,
.send {
  padding: 0.4rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
}

.input {
  width: 50%;
}

.send {
  background-color: lightblue;
  cursor: pointer;
  transition: all 0.3s;
}

.send:hover {
  background-color: #7ed0eb;
}

.table-container {
  margin-top: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #f2f2f2;
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
