* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1200px;
  width: 100vw;
  height: 100vh;
}
.container {
  border: 1px solid red;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
